
<style>
  .my-nav {
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 0;
    z-index: 1000;
  }

  .my-btn {
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 999px;
    border: 1px solid #242424;
    background: black;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  .my-logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #242424;
    text-decoration: none;
  }

  .my-link {
    font-size: 14px;
    color: #242424;
    text-decoration: none;
  }
</style>

<nav class="my-nav">
  <div class="container">
    <div class="d-flex align-items-center">

      <a class="my-logo" href="/">Leaflet</a>

      <div class="ms-auto d-flex align-items-center gap-4" id="navbarNavDropdown">

        <a class="my-link" aria-current="page" href="/">Home</a>
        <% if (locals.user) { %>
          <a class="my-link" href="/blog/addBlog">Add Blog</a>
          <a class="my-link" href="/user/logout">Log out</a>

          <% } else{%>
            <a class="my-link" aria-current="page" href="/user/signin">Login</a>
            <a class="my-btn" aria-current="page" href="/user/signup">Create Account</a>

            <% } %>
      </div>
    </div>
  </div>

</nav>

<% if(locals.error){ %>
  <div class="container mt-4">
    <div class="alert alert-danger" role="alert">
      <%= locals.error %>
    </div>
  </div>
  <% } %>